.site-main {

	.module-main {background: url('../../../img/image-home-unsplash.jpg') center center;
				background-size: cover;
				color:$white;
				height: 400px;
				max-height:500px;
				position: relative;
				@include mq(phone) {height: 200px;}

				.titre-slider {color:$white;
								position:absolute;
								bottom:0.5em;
								left: 1em;
								font-size: 3em;
								font-family : 'carbontyperegular', arial;
								text-transform: uppercase;
								@include mq(tablet) {
									bottom:0.5em;
									right: 0.5em;
									font-size: 1.5em;
								};
								@include mq(phone) {
									bottom:0.5em;
									right: 0.5em;
									font-size: 1em;
								}
				}

				img {display:block;}
	}

	.module-cervezas-logos{
				background: url('../../../img/ricepaper2.png') #ffffff;
				color:$brown-light;
				color: #555453;
				padding: 4em 10%;
				margin-left:-80px;
				@include mq(tablet) {padding: 4em 15%; }
				@include mq(phone) {padding: 1em 2.5%; }


		.module-cerveza-descripcion {
						text-align: center;
						@extend %grid__item;
				        @extend %one-third;
						@extend %tablet--one-whole;
						@extend %phone--one-whole;
		}

		h4 {
			color: #555453;
			font-size: 3em;
			color : $sous-titre;
			margin: 1em 0;
			@include mq(tablet) {margin: 0.5em 0; }
			@include mq(phone) {margin: 0.5em 0;}
		}

		img {margin: 0 auto;
		}

		p {
			text-align: justify;
		}
	}

	.module-cervezas-calidades {
		background: #5B696F;
		color: #ffffff;
		//margin-left:0;

		.module-cerveza-calidad-title {
			margin-left: 80px;
			@include mq(tablet) {display: none; }
			@include mq(phone) {display: none;}
		}

		.module-cerveza-line {
			margin-left: 80px;
			padding: 2em 0;
			border-bottom: 1px solid lighten(#5B696F, 15%);
			@include mq(phone) {margin-left: 0; }
		}

		.module-cerveza-line:nth-child(2) {
			border-top: 1px solid lighten(#5B696F, 15%);
		}

		.descripcion-cerveza-item {
			@extend %grid__item;
			@extend %one-fifth;
			@extend %tablet--one-whole;
			@extend %phone--one-whole;
		}

		h6 {
			font-family: 'oswaldlight', serif;
			font-size: 1.5em;
			color : #dd9716;
		}

		p {
			margin: 0;
			text-align: left;
			font-size: 0.85em;
		}
	}

	.module-motivacion {padding: 4em 10% 2em;
						color:$white;
						//font-family: 'dejavu_serifitalic', serif;
						// background: $brown-second;
						// background: #BCBE97;
						// background: #C5E0DC;
						// background: #889989;
						//background: #B1BEB2;
						//background: url('img/old_wall.png') $brown-second;
						background: url('../../../img/broken_noise.png');
						@include mq(tablet) {padding: 4em 15%; }
						@include mq(phone) {padding: 1em 2.5%; }
		.grid {
			margin-left:-80px;
		}

		.module-motivacion-item {
				text-align: justify;
				font-size: 0.85em;
				@extend %grid__item;
		        @extend %one-third;
				@extend %tablet--one-whole;
				@extend %phone--one-whole;
		}

		h1 {font-family: 'oswaldlight', sans-serif;
			text-align: center;
			text-transform: uppercase;
			font-size: 3em;
			color: #555453;
			//color : $gris;
			margin: 0.5em 0;
			text-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
			letter-spacing: 2px;
			line-height: 1.4em;
			@include mq(phone) {font-size: 2em; }
		}

		h3 {font-family: 'oswaldlight', sans-serif;
			text-align: center;
			text-transform: uppercase;
			color: #555453;
			text-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
			//letter-spacing: 5px;

		}

		.module-tomate {
			margin-top: 2em;
		}

		.icon-lupulo {
			display: block;
			margin: 2em auto;
		}

	}

	.module-map {color:$white;

		#map_canvas {height:25em;}
	}
	
	
}